<div class="main-background  text-center">
  <div class="container text-robin">
  <p style="font-size:70px;">Portfolio Robin La Rondelle</p>
  <p style="font-size:35px;">School and Personal projects</p>
  <hr style="border-color:white;height: 2px;">
  <a href="http://github.com/robinlarondelle" target="_blank"><i class="fab fa-github logo mx-2"></i></a>
  <a href="http://linkedin.com/in/robinlarondelle" target="_blank"><i class="fab fa-linkedin logo mx-2"></i></a>
</div>
</div>

<app-project></app-project>
